.hero_image {
  position: relative;
  width: 100%;
  height: 962px;
  margin-top: var(--header-height);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_title {
  font-family: 'SpaceMono', sans-serif;
  font-size: 96px !important;
  font-weight: 700 !important;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 3px #fff;
  letter-spacing: 0px;

}

:root {
  --header-height: 72px;
}

@media (max-width: 769px) {
  .hero_image {
    width: 100%;
    height: 500px;
  }

  .hero_title {
    font-size: 48px;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 0%;
  }
}

@media (max-width: 450px) {
  .hero_image {
    width: 100%;
    height: 255px;
  }

  .hero_title {
    font-size: 28px !important;
    -webkit-text-stroke: 0.9px #fff;
    letter-spacing: 0%;
  }
}

/* --------------------------------------
  section des filtres
-------------------------------------- */
.filters {
  display: flex;
  max-width: 1143px;
  //width: 100vw;
  width: 100%;
  margin: 0px auto;
}

@media (max-width: 450px) {
  .filters {
    flex-direction: column;
    align-items: center;
    gap: 5px !important;
  }

  .filter-left,
  .filter-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: unset !important;
    width: 100%;
    gap: 5px !important;
  }

  .custom-select-trigger {
    width: 270px !important;
  }

  .custom-options {
    width: 270px !important;
  }
}

.filter-left {
  display: flex;
  gap: 40px;
  flex: 1;
}

.filter-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.custom-select {
  position: relative;
  width: 260px;
  font-family: inherit;
}

.custom-select-trigger {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3%;
  text-transform: uppercase;
  width: 260px;
  height: 42px;
  background: #fff;
  border: 1.3px solid #B8BBC2;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-select.open .custom-select-trigger {
  border: 1.3px solid #215AFF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-select .arrow {
  display: flex;
  position: relative;
  z-index: 998;
  width: 11px;
  transition: transform 0.3s ease;
}

.custom-select.open .arrow {
  transform: rotate(180deg);
}

.custom-options {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3%;
  width: 260px;
  position: absolute;
  top: 42px;
  left: 0;
  background: #fff;
  border-radius: 0px 0px 8px 8px;
  display: none;
  z-index: 999;
}

.custom-select.open .custom-options {
  display: block;
  margin-top: 0px;
}

.custom-option {
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.custom-option:hover {
  background: #fb0000;
  color: #fff;
}

.custom-option.reset-option {
  background: #ffffff;
  color: #ffffff;
  font-weight: 500;
}




/* boutton charger plus */

#load-more {
  display: block;
  width: 272px;
  height: 50px;
  margin: 0px auto;
  padding: 12px 20px;
  text-align: center;
  align-content: center;
  background: #D8D8D8;
  color: #000000;
  cursor: pointer;
  font-family: 'SpaceMono', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
  transition: 0.3s;
}

#load-more:hover {
  background: #000000;
  color: #FFFFFF
}

@media (max-width: 450px) {
  #load-more {
    font-weight: 400;
  }
}