/* --- Photo card --- */
.photo-card {
  width: 564px;
  height: 495px;
  overflow: hidden;
}

.photo-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.photo-card-info {
  display: none;
  margin-top: 10px;
}

.photo-card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.photo-card-ref {
  font-size: 0.9rem;
  opacity: 0.7;
}

.related-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/** photo gallery */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 564px);
  justify-content: center;
  gap: 15px;
  padding: 30px 0;
  margin: 0 auto;
}

.photo-card-image {
  width: 100%;
  height: 100%;
}

.photo-card-image img {
  width: 100%;
  height: 495px;
  object-fit: cover;
  display: block;
}

/* --- Hover --- */
.photo-card {
  position: relative;
  overflow: hidden;
}

.photo-card-hover {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.60);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.photo-card:hover .photo-card-hover {
  opacity: 1;
}

/* Œil au centre */
.hover-eye img {
  width: 46px;
  height: 32px;
}


/* Icône plein écran en haut à droite */
.hover-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: black;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
}

.hover-fullscreen img {
  width: 16px;
  height: 16px;
}

/* Titre en bas à gauche */
.hover-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

/* Catégorie en bas à droite */
.hover-category {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-family: SpaceMono, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10%;
  color: white;
}


/* Responsive */
@media (max-width: 1025px) {
  .photo-gallery {
    overflow: hidden;
    max-width: 1024px;
  }
}

@media (max-width: 769px) {
  .photo-gallery {
    grid-template-columns: 1fr;
    max-width: 90vw;
  }


  .photo-card-image {
    height: 400px;
  }
}

@media (max-width: 450px) {
  .photo-card {
    height: 280px;
  }

  .photo-card-image img {
    height: 280px;
  }
}